<div class="about-page">
    <div class="container section fade-in">
        <h2 class="text-center mb-4">About Me</h2>
        <div class="row align-items-center">
            <div class="col-md-4 text-center">
                <img src="/images/profile-new.webp" class="rounded-circle img-fluid profile-img" alt="Manpreet Singh">
            </div>
            <div class="col-md-8">
                <p>Hello! I'm <strong>Manpreet Singh</strong>, a passionate web developer with experience in building dynamic and responsive websites.</p>
                <p>I specialize in **JavaScript, Node.js, Express, and React** to craft powerful and engaging user experiences.</p>
                <p>Want to know more? Check out my resume below!</p>
                <a href="/files/resume.pdf" download class="btn btn-primary btn-lg mt-3">📄 Download Resume</a>
            </div>
        </div>
    </div>
</div>


<!-- What I Love Section -->
<div class="container section fade-in text-center">
    <h2 class="text-center mb-4">What I Love ❤️</h2>
    <div class="row">
        <div class="col-md-3">
            <i class="fas fa-laptop-code fa-3x"></i>
            <h4>Coding</h4>
            <p>Building web applications and solving real-world problems with clean code.</p>
        </div>
        <div class="col-md-3">
            <i class="fas fa-lightbulb fa-3x"></i>
            <h4>Learning</h4>
            <p>Exploring new technologies and continuously improving my skills.</p>
        </div>
        <div class="col-md-3">
            <i class="fas fa-paint-brush fa-3x"></i>
            <h4>Design</h4>
            <p>Creating intuitive UI/UX that makes applications beautiful and functional.</p>
        </div>
        <div class="col-md-3">
            <i class="fas fa-users fa-3x"></i>
            <h4>Collaboration</h4>
            <p>Working in a team and learning from diverse perspectives.</p>
        </div>
    </div>
</div>

<!-- My Skills Section -->
<div class="container section fade-in">
    <h2 class="text-center mb-4">My Skills 🚀</h2>
    <div class="row">
        <div class="col-md-6">
            <h5>HTML & CSS</h5>
            <div class="progress">
                <div class="progress-bar bg-primary" style="width: 90%;">90%</div>
            </div>
        </div>
        <div class="col-md-6">
            <h5>JavaScript</h5>
            <div class="progress">
                <div class="progress-bar bg-warning" style="width: 85%;">85%</div>
            </div>
        </div>
        <div class="col-md-6">
            <h5>Node.js & Express</h5>
            <div class="progress">
                <div class="progress-bar bg-success" style="width: 80%;">80%</div>
            </div>
        </div>
        <div class="col-md-6">
            <h5>React</h5>
            <div class="progress">
                <div class="progress-bar bg-info" style="width: 75%;">75%</div>
            </div>
        </div>
        <div class="col-md-6">
            <h5>Database (MongoDB/MySQL)</h5>
            <div class="progress">
                <div class="progress-bar bg-danger" style="width: 70%;">70%</div>
            </div>
        </div>
        <div class="col-md-6">
            <h5>Problem Solving</h5>
            <div class="progress">
                <div class="progress-bar bg-dark" style="width: 95%;">95%</div>
            </div>
        </div>
    </div>
</div>
