<div class="container mt-5">
    <h1 class="text-center mb-4">My Projects</h1>
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <h5>Project Name 1</h5>
                    <p>Brief description of this project. Explain what it does and what technologies were used.</p>
                    <a href="#" class="btn btn-primary btn-sm">View Project</a>
                </li>
                <li class="list-group-item">
                    <h5>Project Name 2</h5>
                    <p>Brief description of this project. Explain what it does and what technologies were used.</p>
                    <a href="#" class="btn btn-primary btn-sm">View Project</a>
                </li>
                <li class="list-group-item">
                    <h5>Project Name 3</h5>
                    <p>Brief description of this project. Explain what it does and what technologies were used.</p>
                    <a href="#" class="btn btn-primary btn-sm">View Project</a>
                </li>
            </ul>
        </div>
    </div>
</div>
