<div class="text-center mt-5">
  <h1 class="display-4 text-success">Welcome to Recipe Manager</h1>
  <p class="lead">Your personal space to store and manage your favorite recipes!</p>
  <a href="/recipes" class="btn btn-primary btn-lg mt-3">View Recipes</a>
  <a href="/recipes/add" class="btn btn-success btn-lg mt-3">+ Add New Recipe</a>
</div>
